.nav {
    background-color: rgb(174, 61, 184);
    width: 100%;
    height: 3em;
}

.nav--list {
    padding-left: 0;
}

.nav--elm {
    display: inline-block;
    list-style-type: none;
    background-color: rgb(174, 61, 184);
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    font-size: 1.25em;
}

.nav--elm__title {
    font-size: 2em !important;
    margin-left: 0px;
    padding-left: 0px;
}