* {
    margin: 0px;
    border: 0px;
}

body {
    background-color: rgb(235, 227, 228);
    color: #1E1420;
    text-decoration: none;
    width: 100%;
}

a:link {
    color: #1E1420;
    text-decoration: none;
}

a:hover {
    color: #1E1420;
    text-decoration: none;
}

a:visited {
    color: #1E1420;
    text-decoration: none;
}

a:active {
    color: #1E1420;
    text-decoration: none;
}